.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../src/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer{ /*Combinadores css: o "~" procura outro elemento que esteja em seguida dele que tenha aquela classe especifica
                                                                                O ">" ele procura algo que está dentro desse elemento */
    background-image: url("../src/Menu\ Aberto.svg");
}

.container__botao:checked ~.container__rotulo{
    background: var(--azul-degrade);
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*Libera a opção de colocar outros atributos como: top, left, right e bottom*/
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;/*Permite que você movimente o seu elemento de acordo com outro que veio antes( que seria o elemento pai) que tenha a position diferente de static(Que é o padrão0*/
    top: 100%;
    width: 60vw;
}


/*Se o container botão estiver "checked" ele vai procurar a outro elemento que tiver a classe lista-menu. Lembra um pouco o "If"*/
.container__botao:checked ~ .lista-menu{ /*O ~ é chamado de "Combinador CSS", ele vai procurar um outro elemento que vem em seguida.*/
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /*Ele vai mudar a cor do background só onde tem texto*/
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opções{
    display: none;
}

.container__texto{
    display: none;
}




@media screen and (min-width: 1024px){
    
.container__titulo, 
.container__titulo--negrito{
    font-family: var(--fonte-secundario);
    font-size: 30px;
}

.container__titulo{
    font-weight: 400;    
    display: block;
}

.container__titulo--negrito{
    font-weight: 700;
}

.opções{
    display: flex;
}

.opções__item{
    padding: 0 1em;
    text-transform: uppercase;
}

.opções__link{
    text-decoration: none;
    color: var(--preto);
}

.container__imagem-transparente{
    display: none;
}

.cabeçalho__menu-hamburguer{
    display: none;
}

.opções__botão:checked ~ .lista-menu{
    display: block;
    width: auto;
}

.opções__botão{
    display: none;
}

.opções__botão:checked ~ .opções__rotulo > .opções__item {
    background: var(--azul-degrade);
    color: var(--branco);
    
}

.opções__item{
    padding: 2em 1em;
}

.lista-menu__item:hover{
    background: var(--azul-degrade);
}

.lista-menu__item:hover > .lista-menu__link{
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}

}


@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabeçalho{
        padding: 0.2em;
        
    }

    .opções{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }


}



