.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../src/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*Libera a opção de colocar outros atributos como: top, left, right e bottom*/
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;/*Permite que você movimente o seu elemento de acordo com outro que veio antes( que seria o elemento pai) que tenha a position diferente de static(Que é o padrão0*/
    top: 100%;
}


/*Se o container botão estiver "checked" ele vai procurar a outro elemento que tiver a classe lista-menu. Lembra um pouco o "If"*/
.container__botao:checked ~ .lista-menu{ /*O ~ é chamado de "Combinador CSS", ele vai procurar um outro elemento que vem em seguida.*/
    display: block;
}